.container {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
  }


.login {
    width: 590px;
    margin: 0 auto;
    height: auto;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    form{
        
        input{
            display: block;
            width: fit-content ;
            margin: 10px auto 0;
        }
        button{
            display: block;
            width: fit-content ;
            margin:  10px auto 0;
        }
        span {
            margin: 10px auto;
            width: fit-content;
            display: block;
            color: red;
            font-size: 13px;
          }
    }
  }